*.pyc
*~
*.swo
*.swp
db.sqlite3

media-images
cache
.idea
CACHE/
.sass-cache/
main.css
main.css.map
ref.css
ref.css.map
.coverage
crm/dev_settings\.py
env
docs/build
celerybeat-schedule
local_settings.py
/crm_venv/
venv/
.vscode/
/data/
*.log
staticfiles/*
*.backup
*.html.py
*.txt.py
nohup.out
.local/
secret.env
media/*
.env
*.mo
**/migrations/**
!**/migrations
!**/migrations/__init__.py

__MACOSX/